<main role="main" class="inner cover">
	<h1 class="cover-heading">Get it built.</h1>
	<p class="lead">Tempelcorp creates elegant solutions to your problems with the minimal possible overhead. Composed entirely of veterans from the top names in tech, you need it, we'll build it.</p>
	<p class="lead">
	<%= link_to "About us", about_path, {:class => "btn btn-lg btn-secondary"} %>
	</p>
</main>